header {
	position: relative;
	width: 100%; height: auto;  padding: 2rem 0 5.8rem;
	background: url(../img/header_bg_sm.jpg) 50% 50% no-repeat; background-size: auto 100%;
	.top {
		position: relative; height: auto;
		.title {
			padding-bottom: 3rem;
			p {
				padding-top: 0.5rem;
				span {font-size: 0.827rem;}
			}
			.logo {padding-top: 0.5rem;}
		}
		.content {
			.wrapper_orange {background-color: $orange_active; color: $white; margin: 1rem;}
			.receive {
				display: flex; justify-content: center; align-items: center;
				width: 100%; height: 13.55rem; margin-top: 1.5rem;
				background: url(../img/header_arrows.png) 50% 50% no-repeat; background-size: 100% 100%;
			}
		}
	}
	.features {
		position: relative; height: auto; padding: 5.8rem 0 1rem;
		.list {
			.list__item {
				width: 100%; height: auto; padding-top: 4rem;
				.img {height: 6.45rem; width: 100%; max-width: 20rem; margin: auto; background: url(../img/clock.png) 50% 100% no-repeat; background-size: auto 90%;}
				.text {height: auto; width: 100%; max-width: 20rem; margin: auto; padding-top: 1.5rem;}
			}
			.list__item_2 .img {background-image: url(../img/chart.png);}
			.list__item_3 .img {background-image: url(../img/box.png);}
			.list__item_4 .img {background-image: url(../img/piggy.png); background-size: auto 100%;}
			.list__item_5 .img {background-image: url(../img/marker.png);}
			.list__item_6 .img {background-image: url(../img/doc.png);}
		}
	}
}

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: $sm) {

	}
	/*tablets*/
	@media only screen and (min-width: $md) {
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: $lg) {
		header {
			background-image: url(../img/header_left.png), url(../img/header_right_lg.png), url(../img/header_bg.jpg); 
			background-position: 0 10rem, 110% 6rem, 50% 50%; background-repeat: no-repeat; background-size: auto 35vw, auto 35vw, 100% 100%;
			.top .title {padding-bottom: 7.5rem;}
		}
	}

	/*wideview monitor*/
	@media only screen and (min-width: $xl) {
		header {
			background-image: url(../img/header_left.png), url(../img/header_right.png), url(../img/header_bg.jpg); 
			background-position: 0 0, 100% 0, 50% 50%; background-repeat: no-repeat; background-size: auto 38.3vw, auto 38.3vw, 100% 100%;
		}
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: $xxl) {
		header {background-image: url(../img/header_bg_xl.jpg); background-position: 50% 50%; background-size: 100% 100%;}
	}