section {
	position: relative;
	width: 100%; height: auto;  padding: 2rem 0 5.8rem;
	font-size: 1.16rem;
}

/*new section styles*/
.section_1 {
	background: url(../img/middle_bg.jpg) 50% 50% no-repeat; background-size: 100% 100%;
	text-align: left; padding-bottom: 7.8rem;
	.box_wrapper {height: 4rem;}
	.features {
		text-align: left;
		h3 {text-align: left; background: url(../img/features-wrapp.png) 50% 0 no-repeat; background-size: contain; padding: 2.2rem 3.5rem 3.5rem;}
		ul {list-style: none; text-align: left; padding-left: 3.2rem; padding-bottom: 2rem; position: relative;}
		li {padding-left: 1.1rem; position: relative;}
		li:before { position: absolute; top: 0; left: 0; content: '•'; width: 1.1rem; height: 1.16rem; line-height: 1.6rem; font-size: 1em;}
	}
}

/*new section styles*/
.section_2 {
	padding-top: 0; padding-bottom: 5rem;
	background: url(../img/examples_bg_short.jpg) 50% 0 no-repeat; background-size: 100% 100%;
	h2 {
		weight: 100%; height: auto; padding: 1.51rem; 
		background-image: linear-gradient(to right, $orange, $orange_active);
	}
	h3 {text-transform: uppercase;}
	.wrapper.edition {
		padding-bottom: 6.1rem;

	}
	.wrapper.option {
		padding-bottom: 0;
		h2 {background: transparent;}
	}
	.orange-box {
		display: inline-block; width: auto; height: auto; padding: 1rem; margin: 0.5rem auto; 
		background-color: $orange_active; color: $white;
		font-size: 1.29rem;
	}
	.features {
		width: 75%; margin: auto; padding-top: 18rem; padding-left: 1rem; padding-right: 1rem; padding-bottom: 3rem;
		p, h3 {text-align: left;}
		ul {list-style: none; text-align: left; position: relative;}
		li {padding-left: 1.1rem; position: relative;}
		li.invisible {display: none; opacity: 0;}
		li:before { position: absolute; top: 0; left: 0; content: '•'; width: 1.1rem; height: 1.16rem; line-height: 1.6rem; font-size: 1em;}
	}
	.option {
		.features{
			padding-top: 3rem;
			background: none;
			ul {padding: 1rem 0;}
		}
		.img {
			width: 80%; height: 18rem; margin: auto;
			background: url(../img/truck_scheme.png) 50% 0 no-repeat; background-size: 100% auto;
		}
	}
	.button {margin: auto;}

	.slider-container {position: relative; width: 100%; margin: auto; height: auto; padding-top: 1.65rem;}
	.prev-slide, .next-slide {
		display: block;
		position: absolute;
		top: 50%;
		width: 2.7rem;
		height: 19rem;
		margin-top: -1.041rem;
		z-index: 10;
		cursor: pointer;
		background-size: contain;
		background-position: center;
		background-repeat: no-repeat;
	}
	.prev-slide {background-image: url(../img/vlevo.png); left: 0.2rem; right: auto;}
	.next-slide {background-image: url(../img/vpravo.png); right: 0.2rem; left: auto;}
	.swiper-container {
	  width: 100%;
	  margin: auto;
	  height: auto;
	}
	.swiper-slide {
		background: url(../img/trucks_examples.png) 100% 6rem no-repeat; background-size: 97% auto;
	}
}

/*new section styles*/
.section_3 {
	background: url(../img/how_made_bg.jpg) 50% 50% no-repeat; background-size: 100% 100%;
	.features {
		.large-shown {
			display: none;
		}
		.features__item {
			width: 70%; margin: auto; padding-bottom: 6rem; 
			background: url(../img/how_make_arrow.png) 50% 100% no-repeat; background-size: auto 5.8rem;
			p {text-align: center;}
			.img {
				width: 100%; height: 10.64rem; 
				background: url(../img/1_sm.png) 50% 50% no-repeat; background-size: auto 100%;
			}
			.text {padding: 1rem 0;}
		}
		.features__item_2 .img {background-image: url(../img/2_sm.png);}
		.features__item_3 .img {background-image: url(../img/3_sm.png);}
		.features__item_4 .img {background-image: url(../img/4_sm.png);}
		.features__item_5 .img {background-image: url(../img/5_sm.png);}
		.features__item_6 .img {background-image: url(../img/6_sm.png);}
		.features__item_7 .img {background-image: url(../img/7_sm.png);}
		.features__item_8 {
			background-image: none;
			padding-bottom: 0;
			.img {background-image: url(../img/8_sm.png);}
		}
	}
}

.section_4 {
	padding-bottom: 0;
	background: url(../img/sal_bg.jpg) 50% 50% no-repeat; background-size: 100% 100%;
	.box_wrapper {
		display: inline-block;
    padding: 3rem 2.5rem 3rem 4rem;
		background: url(../img/sal_border.png) 50% 100% no-repeat; background-size: 100% 100%; height: auto; width: auto;
		h2 {padding-bottom: 0.5rem;}
	}
	.features {
		padding: 2rem 0; 
		p {text-align: left; padding-bottom: 1.5rem;}
		.button {margin: auto; margin-top: 1.5rem;}
	}
	.img_wrapper{
		display: block; width: 100%; height: 100%;
		.img {
			width: 80%; margin: auto; height: 24rem;
			background: url(../img/sal_photo.jpg) 50% 100% no-repeat; background-size: 100% auto;
		}
	}
}
.section_5 {
	background: url(../img/slider_bg.jpg) 50% 50% no-repeat; background-size: 100% 100%;
}

/*adaptivity*/
	/*mobile*/
	@media only screen and (min-width: $sm) {

	}
	/*tablets*/
	@media only screen and (min-width: $md) {
	}
	/*desktop or tablets in landscape*/
	@media only screen and (min-width: $lg) {
		.section_1 {
			padding-bottom: 3rem;
			background-image: url(../img/paprika.png), url(../img/middle_right.png), url(../img/middle_bg.jpg); background-position: 2% 40%, 100% 40%, 50% 50%; background-repeat: no-repeat; background-size: auto 10rem, auto 15rem, 100% 100%;
			.box_wrapper {background: url(../img/middle_arrows.png) 50% 100% no-repeat; background-size: contain; height: 6rem;}
		}

		/*new section styles*/
		.section_2 {
			background-image: url(../img/examples_bg.jpg); background-position: 50% 2.5rem;
			.features {
				background-image: url(../img/examples_features_left.png), url(../img/examples_features_right.png); 
				background-position: 0% 0, 115% 0; background-repeat: no-repeat; background-size: 31.5rem 32.5rem, 35.5rem 32rem;
				width: 100%; padding-top: 3rem; padding-left: 1rem; padding-right: 0; padding-bottom: 32rem;
				.row div:first-of-type > * {padding-left: 2.5rem;}
				.row div:last-of-type > * {padding-right: 2.5rem;}
				li.invisible {display: list-item;}
			}
			.swiper-slide {
				background: url(../img/trucks_examples.png) 50% 100% no-repeat; background-size: 100% auto;
			}
			.prev-slide {left: -2.7rem;}
			.next-slide {right: -2.7rem;}
			.option {
				.features{
					padding: 0;
					background: none;
				}
				.button {margin: 0;}
				.img {
					width: 100%; height: 100%;
				}
			}
		}

		/*new section styles*/
		.section_3 {
			background: url(../img/how_made_bg.jpg) 50% 50% no-repeat; background-size: 100% 100%;
			.features {
				.large-shown {
					display: block; 
					.img {
						width: 100%; height: 4.5rem; margin-top: 2rem;
						background: url(../img/how_make_arrow.png) 100% 50% no-repeat; background-size: auto 100%;
					}
				}
				.features__item {
					width: 100%; padding-bottom: 0;
					background: none;
					p {text-align: left;}
					.img {
						width: 100%; height: 10.64rem; 
						background: url(../img/1.png) 50% 50% no-repeat; background-size: 100% auto;
					}
					.text {padding: 0;}
				}
				.features__item_2 .img {background-image: url(../img/2.png); background-size: 97% auto;}
				.features__item_3 .img {background-image: url(../img/3.png);}
				.features__item_4 .img {background-image: url(../img/4.png); background-size: auto 97%;}
				.features__item_5 .img {background-image: url(../img/5.png); background-size: auto 85%;}
				.features__item_6 .img {background-image: url(../img/6.png); background-size: 93% auto;}
				.features__item_7 .img {background-image: url(../img/7.png); background-size: 97% auto;}
				.features__item_8 .img {background-image: url(../img/8.png);}
			}
		}

		/*new section styles*/
		.section_4 {
			.img_wrapper{
				.img {height: 100%;}
			}
		}

		/*new section styles*/
		.section_5 {
			background: url(../img/slider_bg.jpg) 50% 50% no-repeat; background-size: 100% 100%;
		}
	}

	/*wideview monitor*/
	@media only screen and (min-width: $xl) {
		.section_1 {
			background-image: url(../img/paprika.png), url(../img/middle_right.png), url(../img/middle_bg.jpg); 
			background-position: 9% 40%, 100% 60%, 50% 50%; background-repeat: no-repeat; background-size: auto 12.5rem, auto 24rem, 100% 100%;
		}
		.section_3 {
			background: url(../img/how_made_bg.jpg) 50% 50% no-repeat; background-size: 100% 100%;
			background-image: url(../img/how_made_left.png), url(../img/how_made_right.png), url(../img/how_made_bg.jpg); 
			background-position: 0 0, 100% 0, 50% 50%; background-repeat: no-repeat; background-size: auto 100%, auto 100%, 100% 100%;
		}
	}
	/*supperwide view monitor*/
	@media only screen and (min-width: $xxl) {
		.section_1 {background-image: url(../img/middle_bg_complete.jpg); background-position: 50% 50%; background-size: 100% 100%;}
		.section_3 {
			background: url(../img/how_made_bg_xlg.jpg) 50% 50% no-repeat; background-size: 100% 100%;
		}
	}